extends ../_tmpl/base

block param
	- var siteTitle = "町田れいじ Official Website";
	- var description = "喜ぶ人と共に喜び、泣く人と共に泣く「町田零二」（1980年生まれ・無所属）が大和市政に新しいスタイルを提案します！";
	- var keywords = "町田れいじ,町田零二,大和市,政治,市議会議員";
	- var pageTitle = "ダミータイトル";
	- var url = "";
	- var bodyID = "";

block contents
	h2.c-headline.-primary #{pageTitle}
