extends ../_tmpl/base

block param
	- var siteTitle = "ダミータイトル";
	- var description = "ダミータイトル";
	- var keywords = "ダミータイトル";
	- var pageTitle = "ダミータイトル";
	- var bodyID = "BodyID";

prepend container
	.breadcrumb
		.wrap
			ul
				li: a(href="/") HOME
				li: a(href="/xxx/xxx/") xxx
				li #{pageTitle}

prepend contents
	h2.headline.headline--01 #{pageTitle}

	picture
		source(type="image/webp" data-srcset="/assets/img/common/visual_img@sp.webp" media="(max-width: 767px)")
		source(data-srcset="/assets/img/common/visual_img@sp.jpg" media="(max-width: 767px)")
		source(type="image/webp" data-srcset="/assets/img/common/visual_img.webp")
		img.lazyload(src="data:image/gif;base64,R0lGODlhAQABAGAAACH5BAEKAP8ALAAAAAABAAEAAAgEAP8FBAA7" data-src="/assets/img/common/visual_img.jpg" data-aspectratio="1600/800" alt="")

prepend side