//
// Project
//

@use 'variables' as v;

/* --------------------------------------------------
 Project
-------------------------------------------------- */

/* --------------------------------------------------
 INDEX
-------------------------------------------------- */
/* p-visual */
.p-visual {
	position: relative;
	height: 600px;

	&__slide {
		overflow: hidden;
		height: 100%;

		.swiper-wrapper {
			transition: linear 1s;
		}

		.swiper-slide {
			opacity: 0;
			overflow: hidden;
			max-width: 400px;
			margin-right: 40px;
			margin-left: 40px;
			text-align: center;
			translate: 0 80px;
			animation: slideFadeIn 1.1s cubic-bezier(0, 0, 0.13, 0.99) both;

			&:nth-child(4n + 1) {
				animation-delay: .18s;
			}

			&:nth-child(4n + 2) {
				animation-delay: .21s;
			}

			&:nth-child(4n + 3) {
				animation-delay: .24s;
			}

			&:nth-child(4n + 4) {
				animation-delay: .15s;
			}

			&:nth-child(4n + 1),
			&:nth-child(4n + 2) {
				margin-top: -16px;
			}

			&:nth-child(4n + 3),
			&:nth-child(4n + 4) {
				margin-top: 40px;
			}

			img {
				border-radius: 120px 0 120px 0;

				&:not(:first-child) {
					margin-top: 64px;
				}

				&[width="240"] {
					border-radius: 72px 0 72px 0;
				}
			}
		}
	}

	.l-wrap {
		position: absolute;
		inset: 0;
		z-index: 3;
		margin-right: auto;
		margin-left: auto;
	}

	&__contents {
		opacity: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		margin-top: 64px;
		margin-left: auto;
		max-width: calc(672 / #{v.$base_number_wide} * 100%);
		padding-right: calc(64 / #{v.$base_number_wide} * 100%);
		padding-left: calc(64 / #{v.$base_number_wide} * 100%);
		border-top-left-radius: 200px;
		background-color: rgba(255, 255, 255, .8);
		text-align: left;
		filter: blur(30px);
		animation: fadeBlur 1.5s .2s cubic-bezier(0.76, 0, 0.24, 1) both;
	}

	&__headline {
		font-size: min(calc(100 / #{v.$base_number_wide} * 100vw), 10rem);
		font-weight: 400;
		line-height: 1.2;

		span {
			display: block;
			font-size: 2rem;
			font-weight: 500;
			text-align: left;
		}
	}

	&__copy {
		margin-top: 16px;
	}

	@media only screen and (max-width: v.$point_pc) {
		height: 400px;

		&__slide {
			.swiper-slide {
				max-width: 268px;
				margin-right: 28px;
				margin-left: 28px;

				&:nth-child(4n + 1),
				&:nth-child(4n + 2) {
					margin-top: -12px;
				}

				&:nth-child(4n + 3),
				&:nth-child(4n + 4) {
					margin-top: 24px;
				}

				img {
					border-radius: 80px 0 80px 0;

					&:not(:first-child) {
						margin-top: 42px;
					}

					&[width="240"] {
						width: 160px;
						border-radius: 48px 0 48px 0;
					}
				}
			}
		}

		&__contents {
			margin-top: 40px;
			max-width: 452px;
			padding-right: 40px;
			padding-left: 40px;
			border-radius: 120px 0 120px 0;
		}

		&__headline {
			font-size: 6.7rem;

			span {
				font-size: 1.3rem;
			}
		}

		&__copy {
			img {
				width: 324px;
			}
		}
	}

	@media only screen and (max-width: v.$point_sp) {
		height: 280px;

		&__slide {
			.swiper-slide {
				max-width: 200px;
				margin-right: 20px;
				margin-left: 20px;

				&:nth-child(4n + 1),
				&:nth-child(4n + 2) {
					margin-top: -8px;
				}

				&:nth-child(4n + 3),
				&:nth-child(4n + 4) {
					margin-top: 20px;
				}

				img {
					border-radius: 60px 0 60px 0;

					&:not(:first-child) {
						margin-top: 32px;
					}

					&[width="240"] {
						width: 120px;
						border-radius: 36px 0 36px 0;
					}
				}
			}
		}

		&__contents {
			max-width: none;
			margin: 0 -12px 0 0;
			padding-right: 12px;
			padding-left: 12px;
			border-radius: 80px 0 80px 0;
			transform: translateY(50%);
		}

		&__headline {
			font-size: 4.9rem;

			span {
				font-size: 1.2rem;
			}
		}

		&__copy {
			img {
				width: 238px;
			}
		}
	}
}

/* p-area-profile */
.p-area-profile {
	background-color: v.$ground_color;
	padding-bottom: 80px;

	&__unit {
		display: flex;
		flex-direction: row-reverse;
		justify-content: flex-start;
		gap: 0 calc(56 / #{v.$base_number_wide} * 100%);
	}

	&__contents {
		flex-basis: calc(672 / #{v.$base_number_wide} * 100%);
		padding: 76px calc(64 / #{v.$base_number_wide} * 100%) 60px;
		border-bottom-right-radius: 200px;
		background-color: rgba(255, 255, 255, .64);
	}

	&__text {
		p {
			font-size: 1.8rem;
			line-height: 1.8;

			&.-copy {
				margin-top: 1em !important;
				font-size: 2.6rem;
				line-height: 1.5;
			}

			&:not(:first-child) {
				margin-top: 1.5em;
			}
		}
	}

	&__profile {
		flex: 1;
		max-width: 424px;
		padding-top: 48px;
	}

	&__group {
		display: flex;
		align-items: center;
		gap: 0 16px;
	}

	&__image {
		overflow: hidden;
		flex-basis: 240px;
		border-radius: 100%;
		background-color: #fff;

		img {
			width: 100%;
			max-width: none;
			height: 100%;
			object-fit: cover;
		}
	}

	&__name {
		flex: 1 0 auto;
		font-size: 2.6rem;

		span {
			display: block;
			margin-top: 4px;
			font-size: 1.4rem;
		}
	}

	&__list {
		margin-top: 24px;

		> div {
			display: grid;
			grid-template-columns: 4em 1fr;
			margin-top: -1px;
			padding-top: 8px;
			padding-bottom: 8px;
			border-top: 1px solid v.$color_gray;
			border-bottom: 1px solid v.$color_gray;

			&.-other {
				grid-template-columns: 8em 1fr;
			}
		}

		dt,
		dd {
			font-size: 1.4rem;
		}
	}

	@media only screen and (max-width: v.$point_pc) {
		scroll-margin-top: 28px;
		padding-top: 64px;
		padding-bottom: 80px;

		&__unit {
			display: block;
		}

		&__contents {
			padding: 0;
			border-bottom-right-radius: 0;
			background-color: transparent;
		}

		&__profile {
			display: flex;
			max-width: none;
			margin-top: 72px;
			padding-top: 0;
			gap: 0 32px;
		}

		&__group {
			display: block;
			flex: 0 0 240px;
		}

		&__image {
			max-width: none;
		}

		&__name {
			width: fit-content;
			margin: 8px auto 0;
		}
	}

	@media only screen and (max-width: v.$point_sp) {
		scroll-margin-top: -88px;
		padding-top: 168px;
		padding-bottom: 56px;

		&__text {
			p {
				font-size: 1.4rem;

				&.-copy {
					font-size: 1.8rem;
				}
			}
		}

		&__profile {
			display: block;
			margin-top: 44px;
		}

		&__group {
			max-width: 160px;
			margin-right: auto;
			margin-left: auto;
		}

		&__image {
			max-width: none;
		}

		&__name {
			width: auto;
			font-size: 2.2rem;
			text-align: center;

			span {
				margin-top: 0;
				font-size: 1.2rem;
			}
		}

		&__list {

			> div {
				grid-template-columns: 3.5em 1fr;

				&.-other {
					grid-template-columns: 7.5em 1fr;
				}
			}

			dt,
			dd {
				font-size: 1.2rem;
			}
		}
	}
}

/* p-area-style */
.p-area-style {
	$this: &;

	&.-lower {
		#{$this}__text {
			text-align: left;
		}
	}

	&__headline-main {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		z-index: 3;
		min-height: 48px;
		padding: 4px 8px;
		border-radius: 20px 0 20px 0;
		background-color: v.$color_accent_blue;
		color: #fff;
		font-size: 2.6rem;
		font-weight: 500;
		line-height: 1.25;
		text-align: center;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: -1;
			background: url(/assets/img/common/bg.svg) center top;
			opacity: .1;
		}

		&:not(:first-child) {
			margin-top: 72px;
		}
	}

	&__unit {
		margin-top: 44px;

		&:not(:last-child) {
			margin-bottom: 72px;
		}
	}

	&__item {
		&:not(:first-child) {
			margin-top: 40px;
		}
	}

	&__headline {
		padding-bottom: 8px;
		background: linear-gradient(to right, v.$color_accent_blue_dark, v.$color_accent_blue_dark 25%, transparent 25%, transparent 100%) left bottom / 4px 1px repeat-x;
		color: v.$color_accent_blue;
		font-size: 2rem;
		font-weight: 500;
		line-height: 1.25;
		text-align: center;
	}

	&__lead {
		margin-top: 24px;
		font-size: 1.8rem;
		font-weight: 500;
		text-align: center;
	}

	&__text {
		margin-top: 16px;
		text-align: center;
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 8px 16px;
		margin-top: 24px;

		li {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			min-height: 32px;
			padding: 4px 8px;
			background-color: v.$color_accent_yellow;
			font-weight: 500;
			line-height: 1.25;
		}
	}

	&__footer {
		margin-top: 24px;
		padding: 24px;
		border-radius: 8px;
		background-color: v.$ground_color;
	}

	&__headline-sub {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		max-width: 240px;
		height: 40px;
		margin-right: auto;
		margin-left: auto;
		padding: 4px 20px;
		border: 3px solid v.$color_accent_red;
		border-radius: 40px;
		background-color: #fff;
		color: v.$color_accent_red;
		font-size: 1.8rem;
		font-weight: 700;
		letter-spacing: .05em;
		line-height: 1.25;
		text-align: center;
	}

	&__policy {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		min-height: 32px;
		padding: 4px 8px;
		background-color: v.$color_accent_yellow;
		font-weight: 500;

		&:not(:first-child) {
			margin-top: 24px;
		}
	}

	&__report {
		&.-success {
			dt {
				color: v.$color_accent_red;
			}

			dd {
				color: v.$color_accent_red;
			}
		}

		&:not(:first-child) {
			margin-top: 8px;
		}

		> div {
			display: flex;
			align-items: center;
			gap: 8px;
		}

		dt {
			display: flex;
			align-items: center;
			justify-content: center;
			flex: 0 0 64px;
			height: 64px;
			border: 3px solid;
			border-radius: 100%;
			background-color: #fff;
			color: #9ca1af;
			font-size: 1.8rem;
			font-weight: 700;
			letter-spacing: .05em;
			line-height: 1;
			text-align: center;
			transform: rotate(-15deg);
		}

		dd {
			color: #7c7c7c;
		}
	}

	@media only screen and (max-width: v.$point_sp) {
		&__headline-main {
			min-height: 40px;
			border-radius: 16px 0 16px 0;
			font-size: 2rem;

			&:not(:first-child) {
				margin-top: 40px;
			}
		}

		&__unit {
			margin-top: 40px;

			&:not(:last-child) {
				margin-bottom: 48px;
			}
		}

		&__item {
			&:not(:first-child) {
				margin-top: 32px;
			}
		}

		&__headline {
			font-size: 1.8rem;
		}

		&__lead {
			margin: 16px -.5em 0;
			font-size: 1.6rem;
			text-align: left;
		}

		&__text {
			margin-top: 12px;
			text-align: left;
		}

		&__list {
			justify-content: flex-start;
			gap: 8px;

			li {
				min-height: 28px;
			}
		}

		&__footer {
			padding: 16px;
		}

		&__headline-sub {
			max-width: 160px;
			font-size: 1.4rem;
		}

		&__report {
			> div {
				align-items: flex-start;
			}

			dt {
				flex-basis: 56px;
				height: 56px;
				font-size: 1.6rem;
			}
		}
	}
}

/* p-area-info */
.p-area-info {
	padding-bottom: 0;

	&__contents {
		min-height: 876px;
		margin: 40px calc(50% - 50vw) 0;
		padding: 48px calc(50vw - 50%) 80px;
		background: url(/assets/img/top/area-info_bg@pc.webp) center / cover no-repeat;
	}

	&__sns {
		max-width: 544px;
	}

	&__blog {
		margin-top: 24px;
	}

	@media only screen and (max-width: v.$point_pc) {
		&__contents {
			padding-top: 0;
			padding-bottom: 530px;
			background: url(/assets/img/top/area-info_bg@sp.webp) center bottom / auto 482px no-repeat;
		}

		&__sns {
			margin-right: auto;
			margin-left: auto;
		}

		&__blog {
			margin-top: 24px;
		}
	}

	@media only screen and (max-width: v.$point_sp) {
		&__contents {
			min-height: auto;
			padding-bottom: 272px;
			background-size: auto 240px;
		}
	}
}

/* p-area-contact */
.p-area-contact {

	&__btn {
		margin-top: 20px;
	}

	&__list {
		margin-top: 68px;
	}

	&__item {
		&:not(:first-child) {
			margin-top: 68px;
		}
	}

	&__headline {
		padding-bottom: 8px;
		background: linear-gradient(to right, v.$color_accent_blue_dark, v.$color_accent_blue_dark 25%, transparent 25%, transparent 100%) left bottom / 4px 1px repeat-x;
		font-size: 2rem;
		font-weight: 500;
		line-height: 1.25;
		text-align: center;
	}

	&__text {
		margin-top: 20px;
		text-align: center;
	}

	@media only screen and (max-width: v.$point_sp) {
		&__list {
			margin-top: 44px;
		}

		&__item {
			&:not(:first-child) {
				margin-top: 44px;
			}
		}

		&__headline {
			font-size: 1.8rem;
		}

		&__text {
			margin-top: 16px;
			text-align: left;
		}
	}
}

/* p-block-support */
.p-block-support {
	margin-top: 40px;

	&__headline {
		font-size: 2rem;
		font-weight: 500;
		line-height: 1.25;
		text-align: center;
	}

	&__movie {
		position: relative;
		margin-top: 24px;

		&::before {
			content: "";
			display: block;
			padding-top: 56.25%;
		}

		iframe,
		object,
		embed {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	@media only screen and (max-width: v.$point_sp) {
		&__headline {
			margin-top: 28px;
			font-size: 1.6rem;
			text-align: left;
		}

		&__movie {
			margin-top: 16px;
		}
	}
}

/* p-unit-contact */
.p-unit-contact {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 24px;
	margin-top: 20px;

	&__item {
		flex: 1;
		max-width: 532px;
		margin-right: auto;
		margin-left: auto;
		border-radius: 8px;
		background-color: #fff;
	}

	&__headline {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 48px;
		padding: 8px 20px;
		border-radius: 8px 8px 0 0;
		background-color: #9ca1af;
		color: #fff;
		font-size: 1.8rem;
		font-weight: 500;
		line-height: 1.25;
		text-align: center;
	}

	&__contents {
		padding: 20px;
	}

	&__text {
		width: fit-content;
		margin-right: auto;
		margin-left: auto;
		font-weight: 500;

		b {
			font-size: 2.6rem;
		}
	}

	&__list {
		width: fit-content;
		margin-right: auto;
		margin-left: auto;

		> div {
			display: grid;
			grid-template-columns: 5em 1fr;
		}

		dt,
		dd {
			font-weight: 500;
		}

		dd {
			padding-left: 1em;
			text-indent: -1em;

			&::before {
				content: "ï¼š";
			}
		}
	}

	@media only screen and (max-width: v.$point_pc) {
		display: block;

		&__item {
			&:not(:first-child) {
				margin-top: 24px;
			}
		}
	}

	@media only screen and (max-width: v.$point_sp) {
		&__headline {
			height: 40px;
			font-size: 1.6rem;
		}

		&__contents {
			padding: 16px 8px;
		}

		&__text {
			b {
				font-size: 2.2rem;
			}
		}

		&__list {
			padding-right: 16px;
			padding-left: 16px;
		}
	}
}