//
// Utility
//

@use 'variables' as v;

/* --------------------------------------------------
 01: Utility Style
-------------------------------------------------- */

/* Float */
.u-fl { float: left !important;}
.u-fr { float: right !important;}

/* Align */
.u-taL { text-align: left !important;}
.u-taR { text-align: right !important;}
.u-taC { text-align: center !important;}

/* size */
.u-txXS { font-size: 10px !important;}
.u-txSS { font-size: 11px !important;}
.u-txS { font-size: 12px !important;}
.u-txM { font-size: 14px !important;}
.u-txL { font-size: 16px !important;}
.u-txLL { font-size: 18px !important;}
.u-txXL { font-size: 20px !important;}

/* Width */
@for $i from 3 through 100 {
	.u-w#{$i * 5}px { width: 5px * $i !important; }
}

@for $i from 1 through 20 {
	.u-w#{$i * 5}per { width: 5% * $i !important; }
}

/* Margin Padding */
.u-noMargin { margin: 0 !important;}
.u-noPadding { padding: 0 !important;}

@for $i from 0 through 10 {
	.u-mt#{$i * 5} { margin-top: 5px * $i !important; }
	.u-mb#{$i * 5} { margin-bottom: 5px * $i !important; }
	.u-pt#{$i * 5} { padding-top: 5px * $i !important; }
	.u-pb#{$i * 5} { padding-bottom: 5px * $i !important; }
}

/* Clear */
.u-clr {
	clear: both;
}

// ClearFix
%clearfix {
	&::after {
		content: "";
		display: block;
		clear: both;
	}
}

/* Display */
.u-display-pc {
	@media only screen and (max-width: v.$point_sp) {
		display: none;
	}
}
.u-display-sp {
	display: none;
	@media only screen and (max-width: v.$point_sp) {
		display: block;
	}
}