//
// Variables
//

// width
// -------------------------
// Number
$base_number_view: 1366;
$base_number_wide: 1216;
$base_number: 1088;
$base_number_pc: 1024;
$base_number_sp: 375;

// Base
$base_width_view: $base_number_view + px;
$base_width_wide: $base_number_wide + px;
$base_width: $base_number + px;
$base_width_pc: $base_number_pc + px;

// Media Queries
$point_view: $base_width_view;
$point_pc: $base_width_pc;
$point_sp: 767px;
$point_min: 374px;

// height
// -------------------------
$header_height_pc: 72px;
$header_height_sp: 56px;

// font
// -------------------------
$font_base: 'Zen Kaku Gothic New', '游ゴシック', 'Yu Gothic', YuGothic, 'Hiragino Kaku Gothic W3', 'Hiragino Sans', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, system-ui, sans-serif;

// color
// -------------------------
$color_main: #333;
$color_gray: #dbdcdd;
$color_accent_blue_light: #f1f4fe;
$color_accent_blue: #0f99ff;
$color_accent_blue_dark: #144064;
$color_accent_yellow: #f6fd47;
$color_accent_red: #c83956;
// $color_accent_dark: #333;

// link color
// -------------------------
$link_color: $color_accent_blue;
$link_color_hover: $color_accent_blue;

// ground color
// -------------------------
$ground_color: $color_accent_blue_light;

// btn color
// -------------------------
$btn_color: $color_accent_blue_dark;
$btn_color_hover: $color_accent_blue;

// rollover value
// -------------------------
$opacity_value: .7;