//
// Variables
//

:root {
	/* width - Number */
	--base-number-view: 1600;
	--base-number: 1240;
	--base-number-sp: 375;

	/* width - Base */
	--base-width-view: calc(var(--base-number-view) * 1px);
	--base-width: calc(var(--base-number) * 1px);
	// --base-width-sp: calc(var(--base-number-sp) * 1px);

	/* font */
	--font-base: 'Noto Sans JP', 'Hiragino Sans', 'Hiragino Kaku Gothic W3', 'Yu Gothic', YuGothic, Meiryo, system-ui, sans-serif;
	// --font-maru: 'Hiragino Maru Gothic ProN', sans-serif;
	// --font-en: 'Roboto', sans-serif;

	/* color */
	--color-main: #333;
	--color-sub: #ccc;
	// --color-sub-light: #ccc;
	// --color-accent: #ff8383;

	/* link color */
	--link-color: inherit;
	--link-color-hover: inherit;

	/* 	ground color */
	--ground-color: #333;
	// --ground-color-light: #e3faf8;
	// --ground-color-gray-light: #f6f6f6;
	// --ground-color-gray-medium: #eee;

	/* 	text color */
	--text-color-main: #333;
	// --text-color-headline: #333;

	/* 	btn color */
	--btn-color-base: #333;

	/* rollover value */
	--opacity-value: .7;
}

// Sass変数定義 - Media Queries
// -------------------------
$point-view: var(--base-width-view);
$point-pc: var(--base-width);
$point-sp: 767px;
