extends ../_tmpl/base

block param
	- var siteTitle = "町田れいじ Official Website";
	- var description = "喜ぶ人と共に喜び、泣く人と共に泣く「町田零二」（1980年生まれ・無所属）が大和市政に新しいスタイルを提案します！";
	- var keywords = "町田れいじ,町田零二,大和市,政治,市議会議員";
	- var pageTitle = "1期目 政策達成報告";
	- var url = "style/2011.html";
	- var bodyID = "";

block contents
	#style.c-area-common.p-area-style.-lower
		.l-wrap

			.c-area-common__back(data-scroll): a.c-btn-back(href="/") 戻る

			.c-nav-lower(data-scroll)
				h3.c-nav-lower__headline 政策達成報告
				ul
					li: a(href="/style/2019.html")
						| 3期目
						span &nbsp;政策達成報告
					li: a(href="/style/2015.html")
						| 2期目
						span &nbsp;政策達成報告
					li: a.is-active(href="/style/2011.html")
						| 1期目
						span &nbsp;政策達成報告

			.c-group-header(data-scroll)
				h2.c-group-header__headline 1期目 政策達成報告

			.p-area-style__unit
				h3.p-area-style__headline-main(data-scroll) 「進める」やまとの取り組みを拡充・推進します

				.p-area-style__item(data-scroll)
					h4.p-area-style__headline 学童保育の充実を求めます
					p.p-area-style__text 原則3年生までの公設学童保育を6年生までにしたり、私立の学童保育への援助を増やしたりと、学童保育がより充実するように働きかけます。

					.p-area-style__footer
						p.p-area-style__policy 公営学童保育の対象児童を6年生まで拡大すること、それが完全実施されるまでの間、民営学童保育への助成をさらに充実させることを求めます。
						dl.p-area-style__report.-success
							div
								dt 達成
								dd 平成26年12月の条例改正により、公営学童保育の対象児童は6年生まで拡大されました。今後は待機児童ゼロを目指して受け入れ先の整備・拡充を進めて参ります。

						p.p-area-style__policy 現在2倍程度の保育料格差を、最高1.5倍程度にすることを求めます。
						dl.p-area-style__report.-success
							div
								dt 達成
								dd 平成27年4月より、保育料格差は是正され公営学童保育と民営学童保育は同一料金となる予定です。

						p.p-area-style__policy 保育内容の質的向上と、各学童保育間の協力体制作りのために、市内学童保育のネットワーク作りを進めます。
						dl.p-area-style__report.-success
							div
								dt 達成
								dd 平成26年度から公営学童保育、民営学童保育の支援員による合同研修会が始まるなど、ネットワーク化が進められています。引き続き、保育の質の向上と市内各学童でのサービスの均質化を目指して参ります。

				.p-area-style__item(data-scroll)
					h4.p-area-style__headline スカウト活動などを応援します
					p.p-area-style__text 地域での教育は学校・家庭とあわせて子どもの成長にとても重要です。そこで世界規模の教育運動であるボーイスカウトやガールスカウトをはじめ、地域での教育を応援します

					.p-area-style__footer
						p.p-area-style__policy 泉の森の一部を整備してテント泊ができるようにするなど、様々な場面で子どもたちがスカウト活動に参加できる環境作りを求めます。
						dl.p-area-style__report.-success
							div
								dt 達成
								dd 平成25年から引地台公園向いの「やまと冒険の森」がスカウト活動用の訓練キャンプ場として使用できるようになりました。今後はより高度な訓練キャンプに対応できるよう、施設面や使用規則面でのさらなる拡充を求めていきます。

						p.p-area-style__policy その他、地域の教育活動についても、その教育的意義がじゅうぶんに発揮されるよう、行政の積極的な支援を求めます。
						dl.p-area-style__report
							div
								dt 継続
								dd スカウト活動や学童保育等の活動には全力で取り組んだ四年間でしたが、その他の青少年活動への支援についてはあまり関わりを深めることができませんでした。市の取り組みとしては「大和市少年消防団」はこの四年間で隊員が二倍になった他、平成26年には「大和市こども体験事業」として東日本大震災被災地での体験学習が実施され30名の小中学生が陸前高田市を訪問するなど、幅広い青少年教育活動が展開されました。今後も機会を捉えて様々な青少年育成・教育活動を支援して参ります。

				.p-area-style__item(data-scroll)
					h4.p-area-style__headline 里親制度を推進します
					p.p-area-style__text 親に虐待されたり、育児放棄されたりして、普通の暮らしができない子どもたちがいます。より家庭的な環境でそのような子どもたちが育つように、里親制度を推進します。

					.p-area-style__footer
						p.p-area-style__policy 里親制度の普及と充実を目指し、市の具体的な計画作成と実行を求めます。
						dl.p-area-style__report.-success
							div
								dt 継続
								dd 家庭児童相談室の人員の加配やスキルアップなどの政策提案を行なった結果、それまで兼務だった担当者が相談室専任になるなどの体制強化や児童相談所等の外部機関との連携の強化が図られました。しかしながら虐待関連の相談件数は毎年100件ペースで増加しており、市としてもさらなる積極的な対策が必要であることから、今後も機会を捉えて積極的な政策提案を行なって参ります。

						p.p-area-style__policy 親権法の改正を求めて、市レベルからも声を上げて行きます。
						dl.p-area-style__report.-success
							div
								dt 達成
								dd 民法の親権規定に関する改正法が平成24年4月に施行されました。

				h3.p-area-style__headline-main(data-scroll) 「見習う」他の地域で行われている政策をやまとにも導入します

				.p-area-style__item(data-scroll)
					h4.p-area-style__headline テナント型保育所の設置
					p.p-area-style__text 空き店舗などの民間施設を市が期限付きで借り上げ、民間保育所に安く貸すという「テナント型保育所」の設置を提案します。この「テナント型保育所」は商店街を中心とした町おこしにもつながります。

					.p-area-style__footer
						dl.p-area-style__report.-success
							div
								dt 達成
								dd 平成27年4月から導入される「小規模保育所」制度の中で、市の認可を受けた民間事業者によるテナント型の保育所が設置されていく見込みです。

				.p-area-style__item(data-scroll)
					h4.p-area-style__headline 保育ママさん制度の導入
					p.p-area-style__text 保育ママさん制度の導入を求めていきます。保育所と同様に、子どもにとって家庭的で落ち着いた環境で愛情を受けて育つこともとても大切です。

					.p-area-style__footer
						dl.p-area-style__report.-success
							div
								dt 達成
								dd 平成27年4月より大和市でも家庭的保育事業（保育ママ）が導入され、市の認可を受ける事により事業を運営できるようになりました。

				h3.p-area-style__headline-main(data-scroll) 「始める」やまとに必要な新しい政策を提案します

				.p-area-style__item(data-scroll)
					h4.p-area-style__headline フレンドファミリー制度の導入
					p.p-area-style__text
						| 地域の家庭(特に様々な技術や経験を持つ高齢者)が様々な形で子育てや教育の支援を行う「フレンドファミリー制度」の創立を目指します。
						br
						| この制度は地域と子どものつながりを育み、文化の継承や高齢者の生きがいにもつながります。

					.p-area-style__footer
						dl.p-area-style__report
							div
								dt 継続
								dd 平成23年10月にスタートしたファミリーサポートセンター事業や同年6月に全校実施が始まった放課後子ども教室事業において地域と子どものつながりや昔遊びなどの文化の継承が図られています。とは言え、高齢者の生きがいの創出や地域とのさらなるつながりの強化は今後ますます重要であることから、今後も新制度の創立に捉われずより効果的な政策提案を行なって参ります。

				.p-area-style__item(data-scroll)
					h4.p-area-style__headline 高校無償化の対象外にされている子どもへの支援
					p.p-area-style__text 不登校などの理由でフリースクールに通う子や、定時制高校、特別支援学校などに通う子は高校無償化の対象外とされていて、税制上の問題から今後負担が増えることになります。すべての子どもに教育を受ける機会を保障するため、これらの学校に通う子どもへの支援を求めていきます。

					.p-area-style__footer
						p.p-area-style__policy
							| 高校無償化対象の拡大を求めます！
							br
							| 不登校やさまざまな事情を抱えた子が通うフリースクール等の各種学校も制度の適用が受けられるように求めていきます。
						dl.p-area-style__report.-success
							div
								dt 達成
								dd 平成26年度より開始された高等学校就学支援金制度によって定時制高校、特別支援学校および通信制高校や各種学校などに通う子どもに対しても支援が拡大されました。

						p.p-area-style__policy
							| 特定扶養控除の復活を求めます！
							br
							| 特定扶養控除を復活させ、さらに高所得者ほど恩恵が大きい今の控除の仕組みを改めることや、中・低所得世帯の教育費負担の軽減を求めていきます。
						dl.p-area-style__report.-success
							div
								dt 達成
								dd 特定扶養控除は復活されなかったものの、平成26年の法改正により定時制高校、特別支援学校および通信制高校や各種学校などに通う子どもを持つ家庭の負担増は是正され、中・低所得世帯については私立学校に通う場合に支給額が最大2.5倍になるなどの是正措置が実現しました。

				.p-area-style__item(data-scroll)
					h4.p-area-style__headline 自殺ゼロの町、やまとを目指します
					p.p-area-style__text 大和市の自殺者ゼロを目指します。その第一歩として特に鬱病への取り組みを強化します。自殺原因は、特定されたものの64.5%が「健康問題」であり、鬱病が大きな自殺の原因になっていることが伺えます。鬱病は時間がかかりますが治る病気です。しかしそのためには人とのつながりが不可欠です。鬱病にならないためにも、そしてなったとしても最悪の結果に至らないために積極的な施策を求めていきます。

					.p-area-style__footer
						dl.p-area-style__report
							div
								dt 継続
								dd 自殺防止への取り組みとしては各種啓発活動や学校での教育の他、市のホームページ上に自己診断のページを開設するなど様々な取り組みが行われていますが、大和市における自殺者数はこの四年間ほぼ横ばいであり、今後も自殺のハイリスク層へのアプローチや相談窓口の充実など、自殺ゼロを目指した施策展開を求めて参ります。

			.c-nav-lower(data-scroll)
				h3.c-nav-lower__headline 政策達成報告
				ul
					li: a(href="/style/2019.html")
						| 3期目
						span &nbsp;政策達成報告
					li: a(href="/style/2015.html")
						| 2期目
						span &nbsp;政策達成報告
					li: a.is-active(href="/style/2011.html")
						| 1期目
						span &nbsp;政策達成報告

			.c-area-common__back(data-scroll): a.c-btn-back(href="/") 戻る