extends ../_tmpl/base

block param
	- var siteTitle = "町田れいじ Official Website";
	- var description = "喜ぶ人と共に喜び、泣く人と共に泣く「町田零二」（1980年生まれ・無所属）が大和市政に新しいスタイルを提案します！";
	- var keywords = "町田れいじ,町田零二,大和市,政治,市議会議員";
	- var pageTitle = "2期目 政策達成報告";
	- var url = "style/2015.html";
	- var bodyID = "";

block contents
	#style.c-area-common.p-area-style.-lower
		.l-wrap

			.c-area-common__back(data-scroll): a.c-btn-back(href="/") 戻る

			.c-nav-lower(data-scroll)
				h3.c-nav-lower__headline 政策達成報告
				ul
					li: a(href="/style/2019.html")
						| 3期目
						span &nbsp;政策達成報告
					li: a.is-active(href="/style/2015.html")
						| 2期目
						span &nbsp;政策達成報告
					li: a(href="/style/2011.html")
						| 1期目
						span &nbsp;政策達成報告

			.c-group-header(data-scroll)
				h2.c-group-header__headline 2期目 政策達成報告
				p.c-group-header__text
					| 少子高齢・人口減少社会に備えた将来持続性のある町づくり。そのキーワードは「こども」と「つながり」。
					br
					| こんな時代だからこそ、一緒に生きれば未来が明るい。
					br
					| それが実感できる「まち」と「ひと」の新しいかたち「やまとスタイル2015」

			.p-area-style__unit
				h3.p-area-style__headline-main(data-scroll) ひと

				.p-area-style__item(data-scroll)
					h4.p-area-style__headline 「子育て支援」　-すべての子どもの育ちを支え、守るための政策を進めます-
					ul.p-area-style__list
						li 保育所待機児童ゼロ
						li 放課後児童クラブ（学童保育）の充実
						li 保育ママ制度の実施
						li こども広場や寺子屋やまとなど放課後事業の充実
						li 経済的に厳しい世帯のこどもたちへの支援
					.p-area-style__footer
						h5.p-area-style__headline-sub 成果とご報告
						p.p-area-style__text
							| 認可保育所や小規模保育所などの数はこの4年間で32園、1561名分の定員が拡大され、3年連続で待機児童はゼロになりました。家庭的保育事業（保育ママ）も市内初の事業所が開園しました。
							br
							| 放課後児童クラブ（学童保育）は林間小、緑野小にそれぞれ定員100名を超す大規模専用施設を建設しました。さらに平成31年度には中央林間小にも新しい施設を整備します。あわせて、学童保育支援員の処遇改善や保育の質の向上についても取り組みが進みました。放課後の三事業（こども広場・放課後寺子屋やまと・放課後児童クラブ）は、一旦帰宅して出直す必要が無くなり相互に行き来することができるようになりました。
							br
							| 全国的に問題になっている、こどもの貧困対策の一環としては「こども食堂」への公的補助が始まりました。今後も保育所・放課後児童クラブの両方で待機児童ゼロを継続すると共に、保育の質の向上を図るほか、一時保育の充実や相談支援など多様な子育て支援施策を展開します。

				.p-area-style__item(data-scroll)
					h4.p-area-style__headline 「教育改革」　-未来を担う子どもたちが将来、良き社会人として自立できる教育を目指します-
					ul.p-area-style__list
						li ネット犯罪やトラブルからこどもたちを守る情報モラル教育
						li 学力向上への取り組み
						li スカウト活動など、地域の青少年教育活動
						li 調べる学習の推進
						li 学校図書館の活用
						li メディアの情報に振り回されないための教育（メディアリテラシー教育）
					.p-area-style__footer
						h5.p-area-style__headline-sub 成果とご報告
						p.p-area-style__text
							| ネット社会のさらなる進展に伴い、こどもたちへの危険も増しています。この4年で情報モラル教育やメディアリテラシー教育の推進が図られたものの、課題もなお多く存在していることから引き続きの取り組みが必要です。市では私の平成25年9月議会での提案以降、毎年小中学生を対象に1万人規模の調査を続けていますが、近年はスマホの普及と同時に一日の使用時間が長時間化している傾向が顕著です。スマホ依存に陥らず、家族や友人とのリアル世界でのコミュニケーションに支障をきたさないよう、指導と支援を進めていきます。
							br
							| 児童・生徒の学力は、「図書館を使った調べる学習コンクール」の新設や放課後寺子屋やまとの拡充、NIE（新聞を使った学習）などが進んだことから、わずかずつですが年々向上しています。
							br
							| 地域の青少年活動については塾や習いごと、部活との競合などにより目覚ましい成果をあげることはできませんでした。今後、平成32年度には小学校、平成33年度には中学校で新学習指導要領が完全実施され、小学校での英語教科化やプログラミング教育の充実が図られます。大和市では先行してこれらへの対応を始めていますが、引き続き時代の変化に即応していくと共に、学力だけでなく、こどもたちの総合的な成長のための取り組みを進めて参ります。

				.p-area-style__item(data-scroll)
					h4.p-area-style__headline 「児童虐待防止」　-子どもたちの心と命を守ります-
					ul.p-area-style__list
						li 児童相談所の設置
						li 地域小規模児童養護施設の誘致
						li ファミリーホームの設置
					.p-area-style__footer
						h5.p-area-style__headline-sub 成果とご報告
						p.p-area-style__text
							| 平成27年に「すくすく子育て課」が新設され、療育や発達についての相談、虐待相談などが一元化されたほか、平成29年には子育て何でも相談・応援センターが設置されました。また、虐待死事案の半数近くが0歳であることから、周産期での対応が重要であることを議会で指摘し、現在大和市では母子手帳の交付窓口を一か所に絞り、全ての方に選任の保健師が対応する体制をとっています。
							br
							| 一方で、児童虐待防止や社会的養護の政策主体は神奈川県であることから、児童相談所や養護施設の設置については進展がありませんでした。毎年、幼いこどもたちの命が虐待によって奪われる事案が相次いでいることから、あらゆる手段を講じて取り組みを進めて参ります。

				.p-area-style__item(data-scroll)
					h4.p-area-style__headline 「自殺ZERO」　-自殺ゼロの町、やまとを目指します-
					ul.p-area-style__list
						li 予防啓発活動
						li 債務相談
						li ハイリスク層のケア
						li 命を大切にする学校教育
					.p-area-style__footer
						h5.p-area-style__headline-sub 成果とご報告
						p.p-area-style__text
							| この4年間で相談支援体制が強化されたほか、自殺の状況分析や市民への啓発が進められ、市職員の資質向上も図られました。自殺の要因は社会全体の動向に左右されることもあり、一概にそれらの成果とは言えませんが、平成29年の大和市の自殺件数は34件とこの20年で最も少ない件数となりました。とは言え、あくまでも目指すべきは「自殺ゼロ」の社会です。「実現できっこない」と笑われることもある目標ですが、自殺する本人はもちろん、残された家族や友人の苦しみを想い、私は今後も真剣にこのテーマに取り組んで行きたいと思います。

				h3.p-area-style__headline-main(data-scroll) まち

				.p-area-style__item(data-scroll)
					h4.p-area-style__headline 「シティセールス」　-まちの価値を高め、市民の資産を守ります-
					ul.p-area-style__list
						li スポーツ支援
						li 地域イベント、文化・芸術関連イベントを応援
						li 多文化共生のまちづくり
					.p-area-style__footer
						h5.p-area-style__headline-sub 成果とご報告
						p.p-area-style__text
							| スポーツについては「大和市版オリンピック2018」が開催されたほか、女子サッカーの大和シルフィードが悲願の2部リーグ昇格を果たすなど、幅広い取り組みや成果が見られました。
							br
							| 文化芸術・イベント関連では新たに「やまとdeのど自慢」「やまとde紅白歌合戦」が始まり、文化系市民団体によるシリウスやポラリスなどでの活動も盛況です。
							br
							| 多文化共生のまちづくりについては、大和市国際化協会の事務所移転に伴ってベテルギウス北館で国際交流サロンが始まったほか、日本語でのコミュニケーションが困難な外国ルーツなどのこどもたちのために、センター方式での日本語指導が始まりました。今後も大和市がますます市民に愛されるよう、まちの魅力の向上と発信に努めて参ります。

				.p-area-style__item(data-scroll)
					h4.p-area-style__headline 「高齢者福祉」　-高齢者が健康で楽しく暮らせるまちをめざします-
					ul.p-area-style__list
						li 居場所づくり
						li 成年後見施策の推進
						li 安心して暮らせる施設の整備
						li 地域公共交通の充実
					.p-area-style__footer
						h5.p-area-style__headline-sub 成果とご報告
						p.p-area-style__text
							| シリウスやポラリス、中央林間図書館などの整備は、特に高齢の方にとって日中における新しい居場所となりました。以前は｢居場所づくり｣というと建物や施設を建設・設置することが多かったのですが、近年は既存の施設などをバリアフリー化したり、ベンチを置いたりして活用する方法が主流になりました。
							br
							| 成年後見制度の推進については市民後見人の養成講座が始まったほか、啓発のための講演会なども行われています。
							br
							| 地域公共交通（コミバス）の「やまとんGO」と「のろっと」は路線の拡充が行われたほか、運行便数と時間の調整や乗り継ぎの改善が図られました。
							br
							| 特別養護老人ホームをはじめとする高齢者の入居施設については、この4年で230名分の定員が拡大されています。今後も、高齢者がいつまでも元気で自分らしく過ごせるよう、地域での助け合いや地域公共交通の充実、健康寿命延伸の施策を提案していくと共に、終活などの支援にも注力して参ります。

				.p-area-style__item(data-scroll)
					h4.p-area-style__headline 「環境」「防災」「まちづくり」　-まちの環境を整え、市民の命を守ります-
					ul.p-area-style__list
						li 新型防災ラジオ導入
						li 屋上・壁面緑化
						li 公園の整備・活用
						li 大和圃場跡地の取得と活用
						li 自転車利用の推進と走行空間の整備
					.p-area-style__footer
						h5.p-area-style__headline-sub 成果とご報告
						p.p-area-style__text
							| 都市化が進む大和市では緑地が減り続けています。その代替として、建物の屋上や壁面の緑化に補助金を交付するなどの方策を提案してきましたが未だ実現には至っていません。 一方、公園は8カ所増え、南林間の大和圃場跡地には「やまと防災パーク」がオープンしました。ボール遊びができる公園も34カ所増えています。
							br
							| 自転車走行空間についても主要道路での整備が完了しました。
							br
							| 個人宅向けの防災ラジオは、現在国が全国統一の規格を検討していることから、その動向を見守っている状況です。大和市は防音工事が施されている住宅も多いため、災害時に命を左右する情報伝達手段としての防災ラジオの配布については引き続き要望していきます。

			.c-nav-lower(data-scroll)
				h3.c-nav-lower__headline 政策達成報告
				ul
					li: a(href="/style/2019.html")
						| 3期目
						span &nbsp;政策達成報告
					li: a.is-active(href="/style/2015.html")
						| 2期目
						span &nbsp;政策達成報告
					li: a(href="/style/2011.html")
						| 1期目
						span &nbsp;政策達成報告

			.c-area-common__back(data-scroll): a.c-btn-back(href="/") 戻る